<footer class="site-footer">
  <div class="footer-main">
    <img src="{{ "images/oauth2-proxy-horizontal-color.svg" | relURL }}" alt="OAuth2 Proxy">
    <p>© {{ now.Year }} The OAuth2 Proxy Authors.<br>© {{ now.Year }} The Linux Foundation. All rights reserved.</p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/oauth2-proxy/oauth2-proxy" target="_blank" rel="noreferrer">GitHub</a>
    <a href="https://oauth2-proxy.github.io/oauth2-proxy/" target="_blank" rel="noreferrer">Documentation</a>
    <a href="https://cloud-native.slack.com/archives/C098Y5URZ2N" target="_blank" rel="noreferrer">Community</a>
  </div>
</footer>
